{% extends "_/layout/base.twig" %}
{% block content %}
<div class="back"><a class="back__link" href="https://agency.ddev.site/projects">â†  Go Back </a ></div>
<h1 class="project__title">{{entry.title}}</h1>
<div class="project__info">
    <img class="project__img"src=" {{entry.projectImage.one().url}} " alt="">
    <div class="project__text"><p class="project__text--text">{{entry.projectText}}</p></div >
</di >
{% endblock %}