{% extends "_/layout/base.twig" %}
{% block content %}
{% set nav = navigation.navigationLinks.one() %}
{% set dest = nav.linkDestination.one()%}
<div class="back"><a class="back__link" href=" {{dest.url}} ">â†  Go Back </a ></div>
<h1 class="project__title">{{entry.title}}</h1>
<div class="project__info">
    <img class="project__img"src=" {{entry.projectImage.one().url}} " alt="">
    <div class="project__text"><p class="project__text--text">{{entry.projectText}}</p></div >
</div >
{% endblock %}