{% extends "_/layout/base.twig" %}

{% block content %}
<h1 class="projects">Projects</h1>
    {% set projects = craft.entries.section('projects').all() %}
    {% for project in projects %}
    <div class="witruimte"></div>
     <section class = "project">
         <img class="project__img" src="{{ project.projectImage.one().url }}" alt="">
            <div class="project__text">
                <h2 class="project__text--title"> {{ project.title }}</h2>
               <p  class="project__text--text">{{project.projectDescription}}</p>
               <button class="project__text--button"><a class="button" href ="{{project.url}}">More info → <a ></button
            </div >
     </section>
    {% endfor %}
{% endblock %}