{% extends "_/layout/base.twig" %}

{% block content %}

{% set image = entry.foldImage.one() %}

<div class="fold">
    <h1 class="fold__title">{{ entry.foldTitle }}</h1>
    <img class="fold__img"src="{{ image.url }}">
    <div class="fold__text">
      <p>{{entry.foldText | nl2br}}</p>
    </div >
</div >
{% endblock %}