{% extends "_/layout/base.twig" %}

{% block content %}
  <h1>Team</h1>

{% for member in entry.members.all() %}
    {% set photo = member.photo.one() %}

    <img src="{{photo.url}}" alt="">
    <h2>{{member.namemember}}</h2>
    <p>{{member.function}}</p>
{% endfor %}



{% endblock %}