{% extends "_/layout/base.twig" %}

{% block content %}
<div class="members">
    <h1 class="members__title">Our Team</h1>
    {% for member in entry.members.all() %}
        {% set photo = member.photo.one() %}
    
    <div class= "members__member">
            <div class="member__container"><img class="members__member--img" src="{{photo.url}}" alt=""></div >
            <h3 class="members__member--name">{{member.namemember}}</h2>
            <p class="members__member--function">{{member.function}}</p>
    </div >
    {% endfor %}
</div>
{% endblock %}