{% extends "_/layout/base.twig" %}

{% block content %}
<div class="members">
    <h1 class="members__title">Our Team</h1>
    {% set team = craft.entries.section('team').all() %}
    {% for member in team %}
        {% set photo = member.photo.one() %}
    
    <div class= "members__member">
            <div class="member__container"><img class="members__member--img" src="{{photo.url}}" alt=""></div >
            <h3 class="members__member--name">{{member.title}}</h2>
            {% set category = member.jobFunction.one() %}
                
            <p class="members__member--function">{{category.title}}</p>
            <a href="{{member.url}}" class="members__member--button"><p>About me</p></a>
    </div >
    {% endfor %}
</div>
{% endblock %}